.light .slidev-layout {
  background: white;
}

.slidev-layout.cover {
    background-image: url('/background.png')!important;
    color: black!important;
}

.slidev-layout.cover .my-auto {
    padding-left: 5rem!important;
}

:root {
    --common: #F7ECFC;
    --uncommon: #3EC427;
    --rare: #4FA1D9;
    --legendary: #FCB100;
    --epic: #AE4FCE;
}

.part {
    background-color: var(--rare);
    color: white;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 1rem;
}

.legendary {
    color: var(--legendary);
}

pre {
  --prism-foreground: #d4d4d4;
  --prism-background: #1e1e1e;

  --prism-namespace: #aaaaaa;
  --prism-comment: #758575;
  --prism-namespace: #444444;
  --prism-string: #ce9178;
  --prism-punctuation: #d4d4d4;
  --prism-literal: #36acaa;
  --prism-keyword: #38a776;
  --prism-function: #dcdcaa;
  --prism-deleted: #9a050f;
  --prism-class: #4ec9b0;
  --prism-builtin: #d16969;
  --prism-property: #ce9178;
  --prism-regex: #ad502b;
}


h1 {
  font-weight: 700;
  letter-spacing: -.025em;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--legendary);
}

h2 {
    color: var(--rare);
    font-weight: 500;
}

.slidev-layout h1 + p {
    opacity: 1;
}

strong {
 color: var(--epic);
 /*color: oklch(0.42 0.18 264);*/
}

.slidev-page[layout="cool-demo"] .slidev-layout {
  @apply p-0 flex flex-col justify-center items-center;
}

.slidev-layout[layout="two-cols"]  {
  @apply p-0 !;
}
.slidev-layout[layout="two-cols"] .col-left {
  @apply p-10!;
}
.slidev-layout[layout="two-cols"] .col-right {
  @apply p-0 flex flex-col justify-center items-center!important;
}


.slidev-page[layout="cool-demo"] h1 {
  display: none;
}

.slidev-code {
  overflow: auto;
  max-height: 35vh!important;
}
